#trsp_ajaxBox {
	width:20%;
	padding:24px;
	position:absolute;
	top:30px;
	left:40%;
	background:#fff url("../../../../themes/default/images/loading.gif") no-repeat right center;
	border:2px solid #000;
	font-family:"Trebuchet MS",Verdana,sans-serif;
	font-size:15px;
	line-height: 18px;
	text-align:left;
	color:#000;
	padding-right: 50px;
	z-index:3;
}

#trsp_ajaxBox.btnClose {
	background:#fff url("../../../../themes/default/images/help.gif") no-repeat 96% 18px;
	cursor: pointer;
}

#trsp_ajaxBox p {
	margin:0;
	padding:0;
}

#trsp_ajaxOverlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#000;
	-moz-opacity:0.5;
	opacity:0.5;
	_display:none;
	filter:Alpha(opacity=50);
	z-index:2;
}

.trsp_attribute {
	display: inline;
}

.mod_stand_search input[type="text"] {
    border-color:#adadad;
}

.stand_logo {
    max-height: 25px;
    margin-left: 8px;
}
.stand_logo_container {
    float: right;
}
.stand_logo_container .stand_logo {
    max-height: 50px;
}